/* reset */
html, body, div, span,
nav, header, section, article, aside, footer,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background-color: transparent;
	font-weight: normal;
}

sup {
	vertical-align: super;
}

:focus {
	outline: 0;
}

/* page */
body {
	background-color: #FFF;
	border-top: 2px solid #E00125;
	color: #323232;
	font-family: serif;
	line-height: 1.4em;
	-webkit-text-size-adjust: none;
}

#header,
#article,
#footer {
	padding: 0 6%;
}

#footer {
	margin: 4em 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* hypertext */
.section {
	clear: both;
	margin: 1em 0;
	border-top: 2px solid #eee;
	padding-top: 1em;
}

p {
	margin-top: 0.5em;
	margin-bottom: 1em;
	max-width: 48em;
}

a {
	color: #B18C73;
	text-decoration: none;
}

a:hover,
a.incognito:hover {
	color: #B18C73;
	text-decoration: underline;
}

a:active {
	color: #8E0125;
}

a.incognito {
	color: #323232;
}

img {
	max-width: 100%;
	height: auto;
}

img.missing {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

blockquote {
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	font-style: italic;
	line-height: 1.5em;
	margin: 1.5em 0;
	padding: 1em 0;
	text-align: center;
}

ul {
	margin-left: 1em;
}

/* titles */
h1, h2, h3 {
	color: #323232;
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	margin: 1em 0;
	text-transform: none;
	text-rendering: optimizeLegibility;
}

h1 {
	background-color: #f8f8f8;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	color: #484848;
	display: block;
	font-size: 2.5em;
	line-height: 2em;
	font-family: serif;
	word-break: word;
}

h1 a,
h2 a,
h3 a {
	color: #484848;
	text-decoration: none;
}

h1 a.nickname {
	color: #484848;
	font-style: italic;
	font-family: inherit;
	font-size: inherit;
}

h1 a.link {
	color: #E18C73;
}


h1 a:hover,
h2 a:hover {
	color: #E18C73;
	text-decoration: none;
}


/* logo */
h2.logo {
	width: 25%;
	padding-top: 0.25em;
}

h2.logo a,
h2.logo a:hover {
	color: #E00125;
	font-family: sans-serif;
	font-style: normal;
	font-size: 1.0em;
	font-style: normal;
	font-weight: bold;
	font-variant: initial;
	letter-spacing: -2px;
	text-transform: uppercase;
	text-decoration: none;
}

h2.logo b {
	color: #323232;
	font-family: Georgia, serif;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0;
	padding-left: 0.15em;
	text-transform: none;
}

h4 {
	font-weight: normal;
}

/* topnav */
.topnav {
	margin-top: 1em;
}

.topnav p {
	font-size: 0.8em;
}

.topnav form {
	margin-top: 0;
	padding-top: 0;
}

.topnav input {
	width: 10em;
}

input[type=search] {
	-webkit-appearance: textfield;
}

.topnav button {
	margin-top: 0;
}

/* nicknames */
a.nickname,
a.nickname {
	color: #B18C73;
	font-size: 0.8em;
	font-weight: normal;
}

a.nickname {
	font-family: sans-serif;
	font-size: 0.8em;
	font-style: italic;
	text-transform: lowercase;
}

h3 a.nickname {
	padding-left: 0.5em;
}

/* footer */
#footer {
	background-color: #B18C73;
	border-top: 2px  solid #E00125;
	clear: both;
	color: #FFF;
}

#footer a,
#footer a:visited {
	color: #FFF;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer ul {
	margin-top: 1em;
	display: inline;
}

#footer li {
	list-style: none;
	display: inline;
	padding-right: 0.75em;
}

/* copyright and licenses */
.licence {
	margin-top: 1em;
}

.copyright {
	font-style: italic;
	font-size: 0.8em;
	line-height: 1em;
	margin: 0;
	padding: 0 0 2em;
}

.advice {
	font-style: italic;
	color: #6A6A6A;
}

/* vcard */
.vcard ul {
	display: inline;
}

.vcard li {
	display: inline;
	line-height: 2em;
	list-style: none;
	padding-right: 0.5em;
}

/* form */
form {
	margin: 0 auto;
	max-width: 100%;
	width: 42em;
}

fieldset {
	border: 1px solid #dcdcdc;
	background-color: #f8f8f8;
	padding: 0 1.8em 1em 1em;
	margin: 1em 0;
	clear: both;
}

label {
	display: block;
	font-variant: small-caps;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

label > a {
	color: #323232;
}

.radio {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 1em;
}

.radio input {
	width: auto;
	margin: 0 1em;
	line-height: 1em;
}

.radio label {
	color: #6A6A6A;
	display: block;
	font-variant: italic;
	font-size: 0.8em;
	line-height: 2em;
	margin: 0;
	text-align: left;
}

input,
textarea {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	font-family: serif;
	font-size: 1em;
	padding: 0.2em;
	max-width: 42em;
	width: 100%;
}

textarea {
	height: 10em;
	max-width: 42em;
	width: 100%;
}

input#username,
input#password {
	width: 14em;
}

.input .message {
	display: inline;
	font-size: 1em;
	line-height: 1em;
	padding: 0 1em;
}

.bad input {
	background: #F8DBDB;
	border-color: #E77776;
}

.bad .message {
	color: #F00;
}

.prompt {
	background: #F8DBDB;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	max-width: 100%;
	padding: 1em 0;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 100%;
}

.input p {
	color: #6A6A6A;
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0.2em;
	margin-bottom: 1em;
}

/* button */
button {
	background-color: #F8F8F8;
	border: 1px solid #dcdcdc;
	color: #323232;
	cursor: pointer;
	display: inline-block;
	font-family: sans-serif;
	font-size: 0.8em;
	line-height: 1em;
	margin-top: 2em;
	padding: 0.5em 1em;
	text-decoration: none;
	text-transform: uppercase;
}

button:hover {
	color: #FFF;
	background-color: #E18C73;
	border: 1px solid #B18C73;
}

button:active {
	border: 1px solid #8E0125;
}

/* button link */
.button {
	background-color: #F8F8F8;
	border: 1px solid #dcdcdc;
	color: #323232;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-family: sans-serif;
	font-size: 0.8em;
	line-height: 1em;
	margin: 1em 0;
	padding: 0.5em 1em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

a.button {
	text-decoration: none;
}

.button:hover {
	color: #FFF;
	background-color: #E18C73;
	border: 1px solid #B18C73;
}

.button:active {
	position: relative;
	top: 1px;
}


.vcard  img.photo {
	max-width: 7em;
}

.bio {
	min-height: 4em;
}


/* project */
.project p {
	max-width: 68em;
}

.gravatar img.photo,
.project .vcard img.photo {
	margin-top: 1em;
	max-width: 7em;
}

.gravatar {
	margin-bottom: 2em;
}

table.bom {
	margin-bottom: 1em;
}

.representation {
	float: right;
	text-align: right;
	font-size: 0.8em;
	font-family: sans-serif;
}

.embed {
	list-style: none;
	margin-top: 0.5em;
}

.embed label {
	display: inline-block;
	margin-top: 0;
	padding-right: 0.5em;
}

.embed input {
	color: #6A6A6A;
	font-family: monospace;
	width: 100%;
}


#schematic-image,
#board-image {
	border: 1px solid #dcdcdc;
	width: 100%;
	-webkit-box-shadow: 0 0 3px #888;
	-moz-box-shadow: 0 0 3px #888;
	-o-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}

#schematic-image > img,
#board-image > img {
	max-width: 100%;
}

iframe#browser {
	display: none;
}

.project-list {
	margin-top: 1em;
	margin-left: 1em;
}

.blog {
	margin-bottom: 1em;
}

.blog .title {
	float: left;
}

.blog img {
	margin: 1em 0;
	width: 100%;
}

.blog .posted {
	float: right;
}

.blog .extract {
	clear: both;
}

.blog img {
	float: right;
	margin-bottom: 1em;
}

.welcome  .activity {
	clear: both;
}

.activity {
	background-color: #F8F8F8;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1em;
	padding: 1em;
}

.activity ul {
	font-size: 0.8em;
	list-style: none;
	padding: 1em 0 0 1em;
}

.activity ul li {
	text-indent: -1em;
	line-height: 1em;
	margin-bottom: 0.3em;
}

.ago {
	font-style: italic;
	white-space: nowrap;
}

/* projects list */
ul.projects {
	padding-top: 1em;
}

ul.projects > li {
	display: block;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* features */
.features .threecols {
	background-color: #F8F8F8;
	border: 1px solid #e0e0e0;
	display: block;
	float: left;
	overflow: hidden;
	padding: 1em;
	margin: 1em 1em 2em 0;
	-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
	-o-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
	box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-webkit-border-radius: 4px;
	-mox-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

/* featured projects */
#tour {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 1em;
}

.featured .label {
	display: block;
	padding-bottom: 1em;
	font-family: serif;
	font-variant: small-caps;
	font-weight: normal;
}

.featured ul {
	width: 100%;
	display: inline;
	text-align: center;
}

.featured li {
	border: 1px solid #e0e0e0;
	display: block;
	float: left;
	height: 12em;
	width: 160px;
	padding: 1em;
	overflow: hidden;
	margin: 1em 1em 2em 0;
	-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
	-o-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
	box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-webkit-border-radius: 4px;
	-mox-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.featured img {
	max-width: 160px;
}

/* gallery */
ul.gallery {
	display: inline;
	text-align: center;
}

.gallery li {
	display: block;
	float: left;
	width: 100%;
	padding: 0 5px;
	margin: 0;
}

.gallery li img {
	width: 100%;
}

/* tags */
.tags {
	clear: both;
	font-size: 0.8em;
	margin-top: 1em;
}

a.tag,
a[rel=tag] {
	font-family: sans-serif;
	padding-right: 0.5em;
}

/* tagcloud */
p.tagcloud {
	text-align: justify;
	max-width: 100%
}

.tagcloud a[rel=tag] {
	padding-right: 0;
}


.order9 { color: #222; font-size: 1.4em; }
.order8 { color: #333; font-size: 1.35em; }
.order7 { color: #444; font-size: 1.3em; }
.order6 { color: #555; font-size: 1.25em; }
.order5 { color: #666; font-size: 1.2em; }
.order4 { color: #777; font-size: 1.15em; }
.order3 { color: #888; font-size: 1.1em; }
.order2 { color: #999; font-size: 1.0em; }
.order1 { color: #AAA; font-size: 0.9em; }
.order0 { color: #BBB; font-size: 0.8em; }
.order-Infinity { display: none; }

/* bom */
.bom {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 2px solid #e0e0e0;
	text-align: left;
}

.bom th {
	font-family: serif;
	font-variant: small-caps;
	font-weight: normal;
	border-bottom: 2px solid #e0e0e0;
	padding-left: 1em;
}

.bom td {
	border-bottom: 1px solid #eee;
	padding-left: 1em;
}

.bom tbody tr:hover td {
	background: #e0e0e0;
}

tr:nth-child(even) {
	background: #F8F8F8;
}

.about > .section > .section {
	padding-top: 1em;
}

.docs h1,
.docs h2,
.docs h3 {
	margin-top: 2.5em;
	line-height: 2em;
}

.docs h3 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.docs h2 {
	background-color: #f8f8f8;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	color: #484848;
	display: block;
	line-height: 2em;
}

.docs table {
	border-collapse: collapse;
	border-bottom: 2px solid #e0e0e0;
	text-align: left;
	margin-bottom: 1em;
}

.docs th {
	font-family: serif;
	font-variant: small-caps;
	font-weight: normal;
	border-bottom: 2px solid #e0e0e0;
	padding-left: 1em;
}

.docs td {
	border-bottom: 1px solid #eee;
	padding-left: 1em;
}

.docs tbody tr:hover td {
	background: #e0e0e0;
}

.docs tr:nth-child(even) {
	background: #F8F8F8;
}

.docs pre {
	background-color: #f8f8f8;
	padding: 2em;
	overflow: hidden;
	max-width: 90%;
}

/* parts */
#partname,
.partname {
	/*text-transform: uppercase;*/
}

/* help box */
.help-box {
	background-color: #f8f8f8;
	border: 2px solid #e0e0e0;
	clear: both;
	margin: 1em auto;
	padding: 2em 5%;
	width: 80%;
	-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
	-o-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
	box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-webkit-border-radius: 4px;
	-mox-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

/* word-wrap */
.help-box pre,
.bom td,
pre.wrap {
	padding-left: 1em;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* icons */
.icon {
	display: block;
	float: right;
	position: relative;
	width: 20px;
	height: 20px;
}

.fork-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -2px -2px;
}

.oshw-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -23px -2px;
}

.clear-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -47px -7px;
}

.tag-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -72px -2px;
}

.feed-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -120px -2px;
}

.favourite-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -168px -2px;
}

.favourited-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -144px -2px;
}

.featured-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -192px -2px;
}

.activity-sprite {
	background: url('http://solderpad.com/images/sprites.png') no-repeat -216px -2px;
}
